scikit-learn<0.23>=0.22
git+https://github.com/kjappelbaum/hyperopt-sklearn.git#egg=hpsklearn
imbalanced-learn<0.7>=0.6
ml_insights==0.*
mlxtend==0.*
pandas==1.*
click==7.*
comet==3.*
tqdm==4.*
dask==2022.1.1
shap~=0.35
